:root {
  --primary: #5d7437;
  --secondary: #a32a32;
  --light: #1e2021;
  --dark: #eeece9;
  --disabled: #2c2f30;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  height: 100vh;
  background-color: var(--disabled);
}

*:first-letter {
  text-transform: capitalize;
}

.roundBorder {
  border-radius: 5px;
}

.list {
  margin: 35px auto;
  padding: 25px;
  background-color: var(--light);
  width: 100%;
  max-width: 350px;
}

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--dark);
}

.dateLeft {
  display: flex;
  align-items: center;
}

#dateNumber {
  font-size: 50px;
}

#dateWeekday {
  letter-spacing: 3px;
  text-transform: uppercase;
}

#dateMonth,
#dateNumber,
#dateWeekday {
  font-weight: bold;
}

#dateMonth,
#dateYear {
  margin-left: 7px;
  font-size: 20px;
}

form {
  margin: 20px 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 35px auto;
  grid-column-gap: 10px;
}

input {
  border: none;
  padding-left: 10px;
  font-size: 18px;
  background-color: var(--disabled);
  color: var(--dark);
}

input:focus {
  outline: none;
}

.addTaskButton,
.orderButton {
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.addTaskButton {
  height: 35px;
  border-radius: 50%;
  font-size: 25px;
  background-color: var(--disabled);
  color: var(--dark);
}

.orderButton {
  background-color: var(--secondary);
  color: var(--dark);
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary);
  padding: 25px;
  margin-top: 15px;
  font-size: 22px;
  color: var(--dark);
  cursor: pointer;
}

.deleteButton {
  border: none;
  background-color: var(--secondary);
  color: var(--dark);
  cursor: pointer;
  height: 28px;
  width: 28px;
}

.done {
  background-color: var(--disabled);
  text-decoration: line-through;
  color: var(--dark);
}
